
#wrapper{
    width: 1000px;height: 800px;
    margin:auto;padding: auto;
}
h1{
    padding-left:30px
    ;
    font-size: 50px;
    color: purple;
}
a{
    

    height: 30px;
    
    font-size: 25px;
    color:blue;
    margin-top: 10px;
    padding-left: 30px;
    background: linear-gradient(to right,
    white 80% , black 80% 100%);
    display: block;
    border:2px solid green ;
}
p{
    font-weight: bold;
    
    color:purple;
    padding-left: 20px;
}